@model IEnumerable<CarViewModel>
@{
  ViewData["Title"] = "Cars";
}
<h1>Cars</h1>

<a asp-action="Create" class="btn btn-primary">New Car</a>
<a asp-action="LoadDatabase" class="btn btn-secondary">Load database</a>
<table class="table table bordered">
  <thead>
    <tr>
      <td>Model</td>
      <td>Brand</td>
      <td>Options</td>
    </tr>
  </thead>
  <tbody>
    @foreach (var car in Model)
    {
      <tr>
        <td>@car.Model</td>
        <td>@car.Brand</td>
        <td>
          <a asp-action="Edit" asp-route-id="@car.Id" class="btn btn-info btn-sm">Edit</a>
          <a asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>
